body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 42px;
    margin-bottom: 15px;
}

p.mainDescr {
    color: white;
    font-size: 21px;
    letter-spacing: 2px;
    margin-top: 0;
    font-weight: light;
}

section.mainStorys {
    width: 100%;
    position: relative;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
}

section.mainStorys .wrapper {
    padding: 0 20px;
    max-width: 1200px;
    height: 120px;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section.mainStorys .wrapper a.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

section.mainStorys .wrapper a.logo img {
    max-width: 90px;
}

section.mainStorys .wrapper a.logo span {
    color: white;
    font-size: 38px;
    font-weight: bold;
    display: block;
    margin-left: 30px;
}


section.info {
    width: 100%;
}

section.info .wrapper {
    max-width: 1200px;
    margin: auto;
    border-bottom: 2px solid #bababa54;
    padding: 50px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section.info .wrapper .logo {
    max-width: 100px;
}

section.info .wrapper .logo img {
    max-width: 100px;
    border-radius: 50%;
}

section.info .wrapper .names {
    padding-left: 30px;
    max-width: 300px;
}

section.info .wrapper .name {
    color: black;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
}

section.info .wrapper .fullName {
    color: #bababa;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

section.info .wrapper .descrs {
    display: flex;
    margin-left: 70px;
}

section.info .wrapper .descrs .descrsItem {
    padding: 0 30px;
    border-right: 1px solid #bababa88;
}

section.info .wrapper .descrs .descrsItem:last-child {
    border: none;
}

section.info .wrapper .descrs .descrsItem p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 4px;
    color: #bababa
}

section.info .wrapper .descrs .descrsItem span {
    font-size: 18px;
    color: black
}




section.storys {
    width: 100%;
}

section.storys .wrapper {
    max-width: 1200px;
    margin: auto;
    border-bottom: 2px solid #bababa6e;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

section.storys .wrapper .notStorys {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section.storys .wrapper .notStorys .link {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section.storys .wrapper .notStorys .link .fa {
    margin-right: 10px;
    color: black;
    font-size: 18px;
}

section.storys .wrapper .notStorys .link a {
    color: black;
    text-decoration: underline;
}

section.storys .wrapper .notStorys .link a:hover {
    text-decoration: none;
}


section.storys .wrapper .storyItem {
    width: 270px;
    height: 538px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 14px;
    margin-bottom: 70px;
    position: relative;
    box-shadow: 7px 9px 25px -14px rgba(0,0,0,0.75);
}


section.storys .wrapper .storyItem img {
    max-width: 270px;
    height: auto;
}

section.storys .wrapper .storyItem video {
    max-width: 270px;
    height: auto;
}

section.storys .wrapper .storyItem a {
    z-index: 10;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    transition: .2s;
    left: 0px;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(247,139,71,1) 0%, rgba(175,0,255,1) 100%);
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

section.storys .wrapper .storyItem a:hover {
    text-decoration: underline;
}

section.storys .wrapper .storyItem a img {
    max-width: 20px;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: -32px;
}





img#s1 {
    left: 0px;
    top: 0px;
    opacity: .7;
    filter: blur(2px);
}

img#o1 {
    left: 0;
    top: 0;
    opacity: .3;
    filter: blur(03px);
}


section.main {
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
}


section.main .mainOverlayObjects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.main .mainOverlayObjects img {
    position: absolute;
}

img#s1 {
    left: 0px;
    top: 0px;
    opacity: .7;
    filter: blur(2px);
}

img#o1 {
    left: 0;
    top: 0;
    opacity: .3;
    filter: blur(03px);
}



section.main .mainOverlayContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}

section.main .mainOverlayContent > img {
    margin-top: 60px;
}

input.accountName {
    border-radius: 6px;
    border: none;
    padding: 20px 22px;
    font-size: 18px;
    outline: none;
    width: 450px;
    margin-top: 50px;
    z-index: 1;
    /* box-shadow: inset 0px 1px 7px 0px rgba(0, 0, 0, 0.3) */
}



.search {
    background-color: white;
    width: 450px;
    padding: 0 0px;
    border-radius: 5px 5px 5px 5px ;
    max-height: 400px;
    margin-top: 5px;
    z-index: 2;
    overflow: hidden;
}

.search .searchWrap {
    max-height: 250px;
    overflow-y: scroll;
    width: 100%;
}

.search .item .names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search .item {
    cursor: pointer;
    position: relative;
    padding: 10px 22px;
    width: 100%;
    height: 84px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: flex-start;
}

.search .item:hover {
    border-color:#C72962;
    background-color: rgba(199, 41, 99, 0.041);
}

.search .item .names {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search .item .names .fullName {
    margin-top: 5px;
    color: rgb(197, 197, 197);
}

.search .item > img {
    height: 100%;
    margin-top: 0;
    border-radius: 50px;
}

.search .item .preloader.active {
    opacity: 1;
}

.search .item .preloader {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.945);
}

.search .item .preloader img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 160px;
    transform: translate(-50%, -35%);
    pointer-events: none;
}

.search .item .preloader span {
    margin-top: 20px;
    display: block;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

/* .storys_modal.active {
    opacity: 1;
    transform: translateX(0px);
}

.storys_modal {
    padding: 30px 20px 30px 40px;
    left: 50%;
    top: 50%;
    transition: .2s;
    margin-left: -450px;
    margin-top: -315px;
    border-radius: 5px;
    position: absolute;
    z-index: 12;
    width: 1000px;
    height: 630px;
    background-color: #fff;
    display: flex;
    opacity: 0;
    transform: translateX(-1600px);
}

.storys_modal .fa-times {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
    opacity: .7;
    cursor: pointer;
    padding: 10px;
}

.storys_modal .fa-times:hover {
    opacity: .4;
}

.storys_modal .info {
    max-width: 180px;
    min-width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 2px solid rgba(163, 163, 163, 0.158);
}

.storys_modal .info .info__img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.storys_modal .info .info__img img {
    width: 100%;
    height: 100%;
}

.storys_modal .info .info__names {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.storys_modal .info .info__names .name {
    font-size: 16px;
    color: black;
    display: block;
    font-weight: 500;
}

.storys_modal .info .info__names .fullName {
    font-size: 16px;
    margin-top: 2px;
    display: block;
    color: rgb(192, 192, 192);
}

.storys_modal .info .info__stats {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.storys_modal .info .info__stats span {
    display: block;
    font-size: 17px;
    color: rgb(192, 192, 192);
}

.storys_modal .info .info__stats p {
    margin-top: 5px;
    colro: black;
    font-weight: 600;
}

.storys_modal .stories {
    flex: 1;
}

.storys_modal .stories .storiesWrap {
    display: flex;
    flex-wrap: wrap;
}


.storys_modal .stories .imgWrap {
    width: 226px;
    height: 401px;
    margin: 0 8px;
    position: relative;
    margin-bottom: 16px;
    border-radius: 7px;
    overflow: hidden;
}

.storys_modal .stories .imgWrap:hover .resultOverlay {
    opacity: 1;
}

.storys_modal .stories .imgWrap img {
    width: 100%;
    height: auto;
}

.storys_modal .stories .videoWrap {
    width: 226px;
    height: 401px;
    margin: 0 8px;
    position: relative;
    margin-bottom: 16px;
    border-radius: 7px;
    overflow: hidden;
}

.storys_modal .stories .videoWrap:hover .resultOverlay {
    opacity: 1;
}

.storys_modal .stories .videoWrap video {
    width: 100%;
    height: 100%;
} */

.resultOverlay {
    cursor: pointer;
    transition: .2s;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.253);
}

.resultOverlay a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    opacity: .8;
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.resultOverlay a:hover {
    opacity: 1;
}

.resultOverlay a img {
    max-width: 30px;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
}

.stories .storiesWrap {
    width: 100%;
    max-height: 570px;
    overflow-y: scroll;
}


footer {
    width: 100%;
}

footer .wrapper {
    max-width: 1200px;
    margin: auto;
    height: 150px;
    /* border: 1px solid red; */
    padding: 0 20px;
}
footer .wrapper .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .wrapper .logo span {
    font-size: 18px;
    font-weight: normal;
    color: #bababa;
}

footer .wrapper .links {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .wrapper .links a {
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #bababa;
}

footer .wrapper .links a:hover {
    text-decoration: underline;
}


footer.main {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 10;
}

footer.main .wrapper {
    height: auto;
}

footer.main .links {
    height: auto;
}

footer.main .links a {
    color: white;
}

footer.main .logo span {
    color: white;
}

.nonevents {
    pointer-events: none;
}



/* MEDIA  */


@media screen and (max-width: 868px) {
    section.main .mainOverlayContent > img {
        max-width: 100px;
        
    }
    h1 {
        font-size: 38px;
    }
    p.mainDescr {
        font-size: 18px;
    }
}


@media screen and (max-width: 767px) {
    footer.main .links {
        flex-direction: column;
    }
    footer.main .links a {
        margin-bottom: 10px;
    }
    h1 {
        text-align: center;
        font-size: 36px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        font-size: 32px;
    }
    p.mainDescr {
        font-size: 16px;
    }
    input.accountName {
        width: 320px;
    }
}

@media screen and (max-width: 450px) {
    section.main .mainOverlayContent > img {
        margin-top: 30px;
    }
    h1 {
        font-size: 28px;
    }
    input.accountName {
        width: 280px;
        padding: 15px 17px;
        margin-top: 30px;
    }
    p.mainDescr {
        text-align: center;
    }
    
}
